/* Additional styles for ImgDialog */
.img-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
  
  .img-dialog-image {
    width: 600px;
    height: 600px; /* Adjust image height based on viewport */
    border-radius: 10px;
  }
  
  