/* Additional styles for ImgDialog */
.img-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
  
  .img-dialog-image {
    width: 1000px;
    border-radius: 10px;
  }
  
  