.settingsButton {
    font-size: 24px; /* Increase font size for settings button */
    border-radius: 5px; /* Add border radius for settings button */
    background-color: rgba(254, 216, 65, 0.8); /* Yellow background */
    color: black; /* Black text */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  
  .logoutButton {
    font-size: 24px; /* Font size for logout button */
    border-radius: 5px; /* Border radius for logout button */
    background-color: rgba(254, 216, 65, 0.8); /* Yellow background */
    color: black; /* Black text */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  