.farm-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.truck-button {
    position: absolute;
    top: 120px;
    left: 400px;
    margin-left: 30px;
    z-index: 999;
    padding: 10px;
    width: 80px;
    height: 80px;
    color: teal;
    border: none;
    border-radius: 5px;
    transition: left 0.4s;
}

.form-container {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: 707px;
    height: 707px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    z-index: 998;
    border-radius: 8px;
    box-sizing: border-box;
    opacity: 1;
    /* Show the form container */
    overflow: hidden;
    /* Prevent the container itself from scrolling */
}

.close-button {
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 998;
    padding: 10px;
    width: 90px;
    height: 90px;
    color: rgba(255, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
}

.categories {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.card-style {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.order {
    height: 150px;
    width: auto;
    margin-top: 10px;
    background-color: rgba(254, 216, 65, 0.8);
    border-radius: 5px;
}

.orderTitle {
    color: black;
    margin-bottom:-5px;
    margin-right: 10px;
    margin-top: 0;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
}

.pendingButtons {

}

.pendingButtons:hover {
    transform: translateY(-5px); /* Adjust the value as needed */
    transition: transform 0.3s ease; /* Smooth transition effect */
  }

.selected-card-border {
    border-color: teal;
}

.non-selected-card-border {
    border-color: lightgray;
}

.scrollable {
    height: calc(100% - 130px);
    /* Adjust height as needed, accounts for other UI elements */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.scrollable::-webkit-scrollbar {
    width: 0px;
    /* Width of the scrollbar */
    background-color: rgba(255, 255, 255, 0);
    /* Hide scrollbar */
}

.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .custom-tooltiptext {
    white-space: nowrap;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
    opacity: 1;
}
