/* styles.css */
.crop-container {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: #e2e8f0; /* gray.200 */
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -20px;
  }

  .slider-container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .slider {
    flex: 1; /* Take up remaining space */
    width: 80%;
  }
  
  .slider-icon {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 20px;
  }
  
  
/* Styling for Slider Track */
.chakra-slider__track {
  background-color: #CBD5E0; /* Light gray */
  height: 4px; /* Adjust height as needed */
  border-radius: 2px; /* Rounded corners */
  margin-top: 10px;
}

/* Styling for Slider Filled Track */
.chakra-slider__filled-track {
  background-color: #4FD1C5; /* Teal */
  height: 100%; /* Fill the entire height of the track */
  border-radius: 2px; /* Rounded corners */
}
  
  /* Styling for Slider Thumb */
  .chakra-slider__thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #4FD1C5; /* Teal */
    border: 2px solid #fff; /* White border */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow */
    margin-left: 5px;
    margin-top: 10px
  }
  
  
  .controls {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
  
  .crop-button {
    background-color: teal;
    color: white;
  }

  .save-button {
    background-color: teal;
  }