/* FarmForm.css */
.farmCategoriesContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background: rgba(254, 216, 65, 0.8);
  border-radius: 5px;
}

.farmImage {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  margin-right: 10px;
  padding: 0px;
}

.farmInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 5px;
  padding: 10px;
}

.farmTitle {
  color: black;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 0;
  width: 270px;
  font-size: 40px;
}

.farmFormSettingsBtn{
  color: black;
  font-size: 45px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
}

.farmFormSettingsBtn:hover {
  transform: scale(1.1);
}

.farmDescription {
    color: black;
    margin-bottom: 0;
    max-height: 160px; /* Adjust the height as per your requirement */
    overflow-y: auto;
}

.farmRatingContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(7, 175, 0);
  color: white;
  padding: 5px;
  max-width: 60px;
  border-radius: 5px;
  font-size: 14px;
}

.productRatingContainer {
  background: rgba(7, 175, 0);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 60px;
  margin-top: auto;
}

/* styles.css */

.farmProductTabMenu {
  margin-top: 30px;
}

.farmTab {
  margin-right: 10px;
  color: black;
  background-color: rgba(254, 216, 65, 0.8);
  transition: transform 0.3s ease;
}
.farmTab:hover {
  transform: translateY(-5px); /* Adjust the value as needed */
  transition: transform 0.3s ease; /* Smooth transition effect */
}

.farmTabPanel {
  border-radius: 5px;
  margin-top: 10px;
}

.farmProductDescriptionContainer {
    width: 315px; /* Adjust this value as needed */
    height: 120px; /* Adjust this value as needed */
    overflow-y: auto;
    margin-top: -30px; /* Adjust this value as needed */
}

.farmProductDescriptionContainer::-webkit-scrollbar {
  width: 0px; /* Adjust width as needed */
  background-color: transparent; /* Transparent background */
}

.farmProductDescriptionContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Light color for scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.farmProductDescriptionContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Darker color on hover */
}

.farmProductDescriptionContainer::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.labelContent {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  width: 40px;
  height: 20px;
  text-align: center;
}

.original-image{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
}

.farmProductPlusButton {
  font-size: 50px;  
  color: rgba(0, 254, 0, 0.7);
  z-index: 999;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
  margin-top: 20px;
  overflow-y: hidden;
}

.farmProductPlusButton:hover {
  transform: translateY(-5px); /* Adjust the value as needed */
  transition: transform 0.3s ease; /* Smooth transition effect */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%; /* Adjust according to your needs */
  left: 50%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.deliveryButton {
  color: black;
  margin-top: 7px;
  margin-right: 7px;
  font-size: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
}