 .farmButton{
    position: absolute;
    top: 50px;
  left: 100px;
  font-size: 120px;
  color: purple;
  z-index: 999;
 }

 .form{
    position: absolute;
    color: purple;
    top: 50px;
  left: 100px;
  z-index: 999;
  background-color: yellow;
 }