.cart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}

.cart-content {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: 707px;
    height: 707px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    z-index: 998;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.cart-close-button {
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 998;
    padding: 10px;
    width: 90px;
    height: 90px;
    color: rgba(255, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-scrollable {
    height: calc(100% - 130px);
    overflow-y: auto;
}

.cart-scrollable::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
}

.cart-orders {
    margin-bottom: 150px;
}

.cart-order {
    height: 150px;
    width: auto;
    margin-top: 10px;
    background-color: rgba(254, 216, 65, 0.8);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.cart-product-image {
    padding: 10px;
    box-size: 130px;
    border-radius: 15px;
}

.cart-order-title {
    color: black;
    margin-bottom: -5px;
    margin-right: 10px;
    margin-top: 0;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
}

.cart-order-quantity, .cart-order-price {
    color: black;
    margin-top: 5px;
}

.cart-remove-button, .cart-implement-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cart-remove-button:hover, .cart-implement-button:hover {
    transform: translateY(-5px);
}

.cart-button {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 120px;
    left: 35px;
    z-index: 999;
    padding: 10px;
}

.cart-form-container {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: 707px;
    height: 707px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    z-index: 998;
    border-radius: 8px;
    box-sizing: border-box;
    opacity: 1;
    /* Show the form container */
    overflow: hidden;
    /* Prevent the container itself from scrolling */
}

.custom-tooltip .custom-tooltiptext {
    white-space: nowrap;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
    opacity: 1;
}